body {
	height: 100vh;
	overflow: hidden;
}

.red {
	color: red;
}

.green {
	color: lawngreen;
}

.blue {
	color: dodgerblue;
}

#space {
	width: 100vw;
	height: 120vh;
	overflow: hidden;
	background: black;
	transition: background-color 5s;
	perspective: 1000px
}
#space > * {
	position: absolute;
}
#space .stars {
	width: 100vw;
	height: 100vh;
	background: url(https://marthost.uk/rgbwing/img/stars.png) 0 0 repeat;
	transform: translateZ(0);	/* puts the star layers on separate GPU threads */
}
#space #s1 {
	animation: vflow 11s linear infinite;
}
#space #s2 {
	animation: vflow 17s linear infinite;
	background-position: 20px 0;
}
@keyframes vflow {
	from {
		transform: translateY(-100px);
	}
	to {
		transform: translateY(100px);
	}
}


/* SHIP
====================================*/
#ship {
	top: 50%;		/* just initial */
	left: 50%;		/* just initial */
	width: 60px;
	height: 64px;
	transform-style: preserve-3d;
}
#ship > div {
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
}
#ship-front {
	background: white url(../img/sprites.png) -60px 0 no-repeat;
	-webkit-mask-image: url(../img/sprites.png);
}
#ship-back {
	background: #999;
	-webkit-mask-image: url(../img/sprites.png);
	transform: rotateY(180deg);
}
#ship:after {
	content: "";
	position: absolute;
	top: 58px;	/* position relative to parent ship*/
	left: 21px;
	background: url(../img/sprites.png) no-repeat;
	background-position: -7px -64px;
	width: 20px;
	height: 16px;
	transform-origin: 50% 0;
	animation: 0.6s pulse infinite;
}
@keyframes pulse {
	0% {
		transform: scale(0.9);
	}
	50% {
		transform: scale(1.1);
	}
	100% {
		transform: scale(0.9);
	}
}
#ship.boost-on:after {
	background-position: -29px -64px;
	transform: scale(1.5);
	animation: none;
}
#ship.tilt-left:after {
	background-position: -18px -64px;
	animation: none;
}
#ship.tilt-right:after {
	background-position: -18px -64px;
	animation: none;
	transform: rotateY(180deg);
}
#ship.tilt-left {
	transition: transform 0.4s;
	transform: rotateY(-45deg);
}
#ship.tilt-right {
	transition: transform 0.4s;
	transform: rotateY(45deg);
}
#ship.rolling {
	animation: 0.9s roll-down;
}
@keyframes roll-down {
	0% {
		transform: rotateY(0deg) scale(1);
	}
	25% {
		transform: rotateY(180deg) scale(0.8);
	}
	50% {
		transform: rotateY(360deg) scale(0.65);
	}
	75% {
		transform: rotateY(540deg) scale(0.8);
	}
	100% {
		transform: rotateY(720deg) scale(1);
	}
}
#ship.flashing {
	animation: 0.4s flash infinite;
}
@keyframes flash {
	0% {
		opacity: 1;
	}
	50% {
		opacity: 0.3;
	}
	100% {
		opacity: 1;
	}
}

#space .blast {
	width: 16px;
	height: 20px;
	background: url(https://marthost.uk/rgbwing/img/blast.png) no-repeat;
}


/* ASTEROIDS
======================================*/
.asteroid.big {
	height: 55px;
	width: 58px;
	background: url(../img/sprites.png) -120px 0 no-repeat;
}
.asteroid.small {
	height: 30px;
	width: 32px;
	background: url(../img/sprites.png) -120px -57px no-repeat;
}
.spinning {
	animation: spin 10s infinite;
}
@keyframes spin {
	0% {
		transform: rotateZ(0deg);
	}
	100% {
		transform: rotateZ(360deg);
	}
}
.breaking {
	animation: crumble 0.65s steps(4) 1;
}
@keyframes crumble {
	0% {
		background-position: -152px -57px;
	}
	100% {
		background-position: -280px -57px;
	}
}


/* HUD
=====================================*/
#hud {
	color: white;
	pointer-events: none;
	width: 100vw;
	height: 100vh;
	border: 1px dashed yellow;
}
#hud #colourBars {
	position: absolute;
	top: 5px;
	left: 5px;
	width: 20%;
	height: 20px;
}
#hud #colourBars > div {
	position: relative;
}
#hud #colourBars > div > label:first-of-type {
	position: absolute;
	left: 0;
	top: 0;
}
#hud #colourBars > div > label:last-of-type {
	position: absolute;
	right: 0;
	top: 0;
}
#hud #shipHealth {
	position: absolute;
	bottom: 20px;
	left: 35%;
	width: 30%;
	height: 20px;
	padding: 2px;
	background: #222;
	border: 2px solid #ddd;
}
#hud #shipHealth span {
	display: block;
	width: 100%;
	height: 20px;
	background: lawngreen;
	background: linear-gradient(to bottom, rgba(191,210,85,1) 0%,rgba(142,185,42,1) 50%,rgba(114,170,0,1) 51%,rgba(158,203,45,1) 100%);
}
#debug {
	top: 50%;
	left: 0;
	color: white;
}
#space #message {
	width: 100%;
	color: rgba(255, 255, 255, 0.8);
	font-size: 4em;
	font-weight: bold;
	text-align: center;
	text-shadow: black 0 0 1px, black 0 0 1px, black 0 0 1px, black 0 0 1px;
	margin-top: 1em;
}
#space #help {
	color: white;
	bottom: 10em;
}


/* RANGE SLIDERS
============================*/
kbd {
	background-clip: border;
	background-inline-policy: continuous;
	background-origin: padding;
	background: #EEEEEE none repeat scroll 0 0;
	border-color: #CCCCCC #AAAAAA #888888 #BBBBBB;
	border-style: solid;
	border-width: 1px 1px 2px 2px;
	color: #000000;
	padding: 2px 1px;
	white-space: nowrap;
}
input[type=range].red {
  -webkit-appearance: none;
  width: 100%;
  margin: -3.1px 0;
}
input[type=range].red:focus {
  outline: none;
}
input[type=range].red::-webkit-slider-runnable-track {
  width: 100%;
  height: 31.2px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #46262c;
  border-radius: 0px;
  border: 0px solid #010101;
}
input[type=range].red::-webkit-slider-thumb {
  box-shadow: 1.8px 1.8px 5.9px rgba(255, 0, 0, 0.5), 0px 0px 1.8px rgba(255, 26, 26, 0.5);
  border: 2.9px solid #941e00;
  height: 25px;
  width: 25px;
  border-radius: 13px;
  background: #ff3737;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: 3.1px;
}
input[type=range].red:focus::-webkit-slider-runnable-track {
  background: #572f36;
}
input[type=range].red::-moz-range-track {
  width: 100%;
  height: 31.2px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #46262c;
  border-radius: 0px;
  border: 0px solid #010101;
}
input[type=range].red::-moz-range-thumb {
  box-shadow: 1.8px 1.8px 5.9px rgba(255, 0, 0, 0.5), 0px 0px 1.8px rgba(255, 26, 26, 0.5);
  border: 2.9px solid #941e00;
  height: 25px;
  width: 25px;
  border-radius: 13px;
  background: #ff3737;
  cursor: pointer;
}
input[type=range].red::-ms-track {
  width: 100%;
  height: 31.2px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].red::-ms-fill-lower {
  background: #351d22;
  border: 0px solid #010101;
  border-radius: 0px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range].red::-ms-fill-upper {
  background: #46262c;
  border: 0px solid #010101;
  border-radius: 0px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range].red::-ms-thumb {
  box-shadow: 1.8px 1.8px 5.9px rgba(255, 0, 0, 0.5), 0px 0px 1.8px rgba(255, 26, 26, 0.5);
  border: 2.9px solid #941e00;
  width: 25px;
  border-radius: 13px;
  background: #ff3737;
  cursor: pointer;
  height: 25px;
}
input[type=range].red:focus::-ms-fill-lower {
  background: #46262c;
}
input[type=range].red:focus::-ms-fill-upper {
  background: #572f36;
}
input[type=range].green {
  -webkit-appearance: none;
  width: 100%;
  margin: -3.1px 0;
}
input[type=range].green:focus {
  outline: none;
}
input[type=range].green::-webkit-slider-runnable-track {
  width: 100%;
  height: 31.2px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #2a492a;
  border-radius: 0px;
  border: 0px solid #010101;
}
input[type=range].green::-webkit-slider-thumb {
  box-shadow: 1.8px 1.8px 5.9px rgba(0, 158, 0, 0.5), 0px 0px 1.8px rgba(0, 184, 0, 0.5);
  border: 2.9px solid #005800;
  height: 25px;
  width: 25px;
  border-radius: 13px;
  background: #37ff37;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: 3.1px;
}
input[type=range].green:focus::-webkit-slider-runnable-track {
  background: #335933;
}
input[type=range].green::-moz-range-track {
  width: 100%;
  height: 31.2px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #2a492a;
  border-radius: 0px;
  border: 0px solid #010101;
}
input[type=range].green::-moz-range-thumb {
  box-shadow: 1.8px 1.8px 5.9px rgba(0, 158, 0, 0.5), 0px 0px 1.8px rgba(0, 184, 0, 0.5);
  border: 2.9px solid #005800;
  height: 25px;
  width: 25px;
  border-radius: 13px;
  background: #37ff37;
  cursor: pointer;
}
input[type=range].green::-ms-track {
  width: 100%;
  height: 31.2px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].green::-ms-fill-lower {
  background: #213921;
  border: 0px solid #010101;
  border-radius: 0px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range].green::-ms-fill-upper {
  background: #2a492a;
  border: 0px solid #010101;
  border-radius: 0px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range].green::-ms-thumb {
  box-shadow: 1.8px 1.8px 5.9px rgba(0, 158, 0, 0.5), 0px 0px 1.8px rgba(0, 184, 0, 0.5);
  border: 2.9px solid #005800;
  width: 25px;
  border-radius: 13px;
  background: #37ff37;
  cursor: pointer;
  height: 25px;
}
input[type=range].green:focus::-ms-fill-lower {
  background: #2a492a;
}
input[type=range].green:focus::-ms-fill-upper {
  background: #335933;
}
input[type=range].blue {
  -webkit-appearance: none;
  width: 100%;
  margin: -3.1px 0;
}
input[type=range].blue:focus {
  outline: none;
}
input[type=range].blue::-webkit-slider-runnable-track {
  width: 100%;
  height: 31.2px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #1f2a53;
  border-radius: 0px;
  border: 0px solid #010101;
}
input[type=range].blue::-webkit-slider-thumb {
  box-shadow: 1.8px 1.8px 5.9px rgba(0, 0, 159, 0.5), 0px 0px 1.8px rgba(0, 0, 185, 0.5);
  border: 2.9px solid #0035a6;
  height: 25px;
  width: 25px;
  border-radius: 13px;
  background: #2458ff;
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: 3.1px;
}
input[type=range].blue:focus::-webkit-slider-runnable-track {
  background: #263366;
}
input[type=range].blue::-moz-range-track {
  width: 100%;
  height: 31.2px;
  cursor: pointer;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
  background: #1f2a53;
  border-radius: 0px;
  border: 0px solid #010101;
}
input[type=range].blue::-moz-range-thumb {
  box-shadow: 1.8px 1.8px 5.9px rgba(0, 0, 159, 0.5), 0px 0px 1.8px rgba(0, 0, 185, 0.5);
  border: 2.9px solid #0035a6;
  height: 25px;
  width: 25px;
  border-radius: 13px;
  background: #2458ff;
  cursor: pointer;
}
input[type=range].blue::-ms-track {
  width: 100%;
  height: 31.2px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
input[type=range].blue::-ms-fill-lower {
  background: #182140;
  border: 0px solid #010101;
  border-radius: 0px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range].blue::-ms-fill-upper {
  background: #1f2a53;
  border: 0px solid #010101;
  border-radius: 0px;
  box-shadow: 1px 1px 1px #000000, 0px 0px 1px #0d0d0d;
}
input[type=range].blue::-ms-thumb {
  box-shadow: 1.8px 1.8px 5.9px rgba(0, 0, 159, 0.5), 0px 0px 1.8px rgba(0, 0, 185, 0.5);
  border: 2.9px solid #0035a6;
  width: 25px;
  border-radius: 13px;
  background: #2458ff;
  cursor: pointer;
  height: 25px;
}
input[type=range].blue:focus::-ms-fill-lower {
  background: #1f2a53;
}
input[type=range].blue:focus::-ms-fill-upper {
  background: #263366;
}
